.checkTable {
	width: 100%;
	height: 200px;
	border: 1px solid #000000;
	border-collapse: initial;
	tr:nth-child(even) { background: #ddd; height: 32px };
  tr:nth-child(odd) { background: #fff; height: 32px };
	.check_thead_checked {

	}
	.check_th_checked {
		width: 10%;
		text-align: center;
   	color: #125135;
   	background-color: #A4C2B4
	}
	.check_th_name {
		text-align: center;
		color: #125135;
   	background-color: #A4C2B4
	}
	.check_th_tools {
		width: 10%;
		text-align: center;
		color: #125135;
   	background-color: #A4C2B4
	}
	.check_td_checked {
		width: 10%;
		text-align: center;	
	}
	.check_td_name {
		padding-left: 10px
	}
}

.IconSelectedItemStyle {
   color: #125135;
   padding-left: 25px;
   text-decoration: none;
   display: inline-block;
   height: 17px;
   line-height: 17px;
   text-shadow: 0 1px 0 #fff;
   margin: 2px 0;
   font-size: 11px;
   background: data-uri('../images/icn_arrow_right.png') no-repeat center left;    
}