html, body{
   width: 100%;
   height: 100%;
   max-width: 100%;
   max-height: 100%;
	font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
   overflow: hidden;
	font-size: 12px;
    
    
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    
    touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    
    -moz-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -moz-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -moz-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    
    -ms-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -ms-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -ms-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
	
	margin:0;
   padding: 0;
	line-height:16px;
   display: block;
   background: #F8F8F8;
}
body {
   width: 100%;
   height: 100%;
   margin: 0 auto;
   position: relative;
}

#bglogin {
   background: @black;
   height: 100%;
}

.clear {
   clear: both;
}

.spacer {
   width: 100%;
   height: 10%;
   float: left;
}

a:link, a:visited {
   color: #77BACE;
   text-decoration: none;
}

a:hover {
   text-decoration: underline;
}

#login {
   .logo {
      margin-top: 10%;
      margin-bottom: 4%;
      width: 250px;
   }
}

/* Header */

header#header {
   height: 55px;
   width: 100%;
   background: #222222 data-uri('../images/header_bg.png') repeat-x;
   
   h1.site_title, h2.section_title {
      float: left;
      margin: 0;
      font-size: 22px;
      display: block;
      width: 17%;
      height: 55px;
      font-weight: normal;
      text-align: left;
      text-indent: 1.8%;
      line-height: 55px;
      color: #fff;
      text-shadow: 0 -1px 0 #000;
   }
   h1.site_title a {
      color: #fff;
      text-decoration: none;
   }
   h2.section_title {
      text-align: center;
      text-indent: 4.5%;
      width: 72%;
      background: data-uri('../images/header_shadow.png') no-repeat left top;
   }
}


.btn_view_site {
   float: left;
   width: 9%;
   a {
      display: block;
      margin-top: 12px;
      width: 91px;
      height: 27px;
      background: data-uri('../images/btn_view_site.png') no-repeat;
      text-align: center;
      line-height: 29px;
      color: #fff;
      text-decoration: none;
      text-shadow: 0 -1px 0 #000;
      &:hover {
         background-position: 0 -27px;
      }
   }
}

section#secondary_bar {
   height: 38px;
   width: 100%;
   background: #F1F1F4 data-uri('../images/secondary_bar.png') repeat-x;
   .user {
      float: left;
      width: 17%;
      height: 38px;
      p {
         margin: 0;
         padding: 0;
         color: #666666;
         font-weight: bold;
         display: block;
         float: left;
         width: 85%;
         height: 35px;
         line-height: 35px;
         text-indent: 25px;
         text-shadow: 0 1px 0 #fff;
         background: data-uri('../images/icn_user.png') no-repeat center left;
         margin-left: 6%;
      }
      a {
         text-decoration: none;
         color: #666666;
         &:hover {
            color: #77BACE;
         }
         .logout_user {
            float: left;
            display: block;
            width: 16px;
            height: 35px;
            text-indent: -5000px;
            background: data-uri('../images/icn_logout.png') center no-repeat;
         }
      }
   }
   .breadcrumbs_container {
      float: left;
      width: 77%;
      background: data-uri('../images/secondary_bar_shadow.png') no-repeat left top;
      height: 38px;
   }
}



article.breadcrumbs {
   float: left;
   padding: 0 10px;
   border: 1px solid #ccc;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   -webkit-box-shadow: 0 1px 0 #fff;
   -moz-box-shadow: 0 1px 0 #fff;
   box-shadow: 0 1px 0 #fff;
   height: 23px;
   margin: 4px 3%;
   a {
      display: inline-block;
      float: left;
      height: 24px;
      line-height: 23px;
      .current, .current:hover {
         color: #9E9E9E;
         font-weight: bold;
         text-shadow: 0 1px 0 #fff;
         text-decoration: none;
      }
      &:link, :visited {
         color: #44474F;
         text-decoration: none;
         text-shadow: 0 1px 0 #fff;
         font-weight: bold;
      }
      &:hover {
         color: #222222;
      }
   }
}

.breadcrumb_divider {
   display: inline-block;
   width: 12px;
   height: 24px;
   background: data-uri('../images/breadcrumb_divider.png') no-repeat;   
   float: left;
   margin: 0 5px;
}

/* Sidebar */

aside#sidebar {
   width: 17%;
   background: #E0E0E3 data-uri('../images/sidebar.png') repeat;
   float: left;
   height: 100%;
   min-height: 500px;
   margin-top: -4px;
   hr {
      border: none;
      outline: none;
      background: data-uri('../images/sidebar_divider.png') repeat-x;
      display: block;
      width: 100%;
      height: 2px;
   }
}



/* Search */

.quick_search {
   text-align: center;
   padding: 14px 0 10px 0;
   input[type=text] {
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      border-radius: 20px;
      border: 1px solid #bbb;
      height: 26px;
      width: 90%;
      color: #ccc;
      -webkit-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
      -moz-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
      box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
      text-indent: 30px;
      background: #fff data-uri('../images/icn_search.png') no-repeat;
      background-position: 10px 6px;
      &:focus {
         outline: none;
         color: #666666;
         border: 1px solid #77BACE;
         -webkit-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
         -moz-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
         box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
      }
   }
}

/* Sidebar Menu */

#sidebar h3 {
   color: #1F1F20;
   text-transform: uppercase;
   text-shadow: 0 1px 0 #fff;
   font-size: 13px;
   margin: 10px 0 10px 6%;
   display: block;
   float: left;
   width: 90%;
   .toggleLink:hover {
      color: #77BACE;
      text-decoration: none;
   }
}

.toggleLink {
   color: #999999;
   font-size: 10px;
   text-decoration: none;
   display: block;
   float: right;
   margin-right: 2%;
}

#sidebar ul {
   clear: both;
   margin: 0; padding: 0;
}

#sidebar li {
   list-style: none;
   margin: 0 0 5% 10%; padding: 0;
   a {
      color: #125135;
      padding-left: 25px;
      text-decoration: none;
      display: inline-block;
      height: 17px;
      line-height: 17px;
      text-shadow: 0 1px 0 #fff;
      margin: 2px 0;
      font-size: 11px;
      &a:hover {
         color: #444444;
      }
   }
}


#sidebar li.icn_graphic_satisfaction a {
   background: data-uri('../images/icn_graphic_satisfaction.svg') no-repeat center left;
}
#sidebar li.icn_graphic_visitor a {
   background: data-uri('../images/icn_graphic_visitor.svg') no-repeat center left;
}
#sidebar li.icn_change_action a {
   background: data-uri('../images/icn_change_action.svg') no-repeat center left;
}
#sidebar li.icn_tool_action a {
   background: data-uri('../images/icn_tool.png') no-repeat center left;
}

#sidebar p {
   color: #666666;
   padding-left: 8%;
   text-shadow: 0 1px 0 #fff;
   margin: 10px 0 0 0;
}

#sidebar a {
   color: #666666;
   text-decoration: none;
   &:hover {
      text-decoration: underline;
   }
}

#sidebar footer {
   margin-top: 20%;
}

section#main {
   width: 83%;
   overflow: hidden;
   height: 89%;
   background: data-uri('../images/sidebar_shadow.png') repeat-y left top;
   float: left;
   margin-top: -2px;
   margin-botton: 10px;
   h3 {
      color: #1F1F20;
      text-transform: uppercase;
      text-shadow: 0 1px 0 #fff;
      font-size: 13px;
      margin: 8px 20px;
   }
   .module header {
      height: 38px;
      width: 100%;
      background: #F1F1F4 data-uri('../images/secondary_bar.png') repeat-x;
      -webkit-border-top-left-radius: 5px; -webkit-border-top-right-radius: 5px;
      -moz-border-radius-topleft: 5px; -moz-border-radius-topright: 5px;
      border-top-left-radius: 5px; border-top-right-radius: 5px;
      h3 {
         display: block;
         width: 90%;
         float: left;
      }
   }
}

#container-gral {
   height: 100%;
   overflow-x: hidden;
   overflow-y: scroll;
}

.container-gral {
   height: 100%;
   overflow-x: hidden;
   overflow-y: scroll;
}


.module {
   border: 1px solid #9BA0AF;
   width: 100%;
   margin: 5px 0px 5px 10px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   background: #ffffff;
}



.module footer {
   height: 32px;
   width: 100%;
   border-top: 1px solid #9CA1B0;
   background: #F1F1F4 data-uri('../images/module_footer_bg.png') repeat-x;
   -webkit-border-bottom-left-radius: 5px; -webkit-border-bottom-right-radius: 5px;
   -moz-border-radius-bottomleft: 5px; -moz-border-radius-bottomright: 5px;
   -webkit-border-bottom-left-radius: 5px; -webkit-border-bottom-right-radius: 5px;
}

.module_content {
   margin: 0px 5px;
   color: #125135;
   display: inline-block;
}

.width_full {
   width: 98%;
}

.width_2_full {
   width: 97%;
   height: 200px;
   margin-right: 0;
   float: left;
   display: inline-table;
}

.width_half {
   width: 47.7%;
   height: 213px;
   margin-right: 0;
   float: left;
   display: inline-table;
}

.width_half_normal {
   width: 47.7%;
   margin-right: 0;
   float: left;
   display: inline-table;
}

.width_quarter {
   width: 21%;
   height: 200px;
   margin-right: 0;
   float: left;
}

.width_3_quarter {
   width: 66%;
   margin-right: 0;
   float: left;
}

.width_1_4_quarter {
   width: 23.6%;
   height: 190px;
   margin-right: 0;
   float: left;
   display: inline-table;
}

.width_1_3_quarter {
   width: 31.2%;
   margin-right: 0;
   float: left;
}

/* Stats Module */

.stats_graph {
   width: 64%;
   float: left;
}

.result {
   background: #F6F6F6;
   float: right;
   width: 100%;
}

.overview {
   width: 33%;
   float: left;
}

.result p {
   margin: 0; padding: 0;
   text-align: center;
   text-transform: uppercase;
   text-shadow: 0 1px 0 #fff;
}

.result p.overview_title {
   font-size: 12px;
   font-weight: bold;
   margin: 6px 0;
}

.result p.overview_count {
   font-size: 26px;
   font-weight: bold;
   color: #125135;
}

.result p.overview_type {
   font-size: 10px;
   color: #999999;
   margin-bottom: 8px
}

.tablesorter {
   width: 100%;
   margin: -5px 0 0 0;
   tr:nth-child(even) { background: #ddd };
   tr:nth-child(odd) { background: #fff };
   td {
      margin: 0;
      padding: 0;
      border-bottom: 1px dotted #ccc;
      padding: 5px 5px;
   }
   thead tr {
      height: 34px;
      background: data-uri('../images/table_sorter_header.png') repeat-x;
      text-align: left;
      text-indent: 10px;
      cursor: pointer;
      th {
         color: #125135;
         background-color: #A4C2B4
      }
      .question {
         height: 34px;
         text-align: left;
         text-indent: 10px;
         cursor: pointer;
         text-transform: uppercase;
         background-color: #125135;
         color: white;
      }
   }
}


.tablesorter input[type=image] {
   margin-right: 10px;
}

ul.tabs {
   margin: 3px 10px 0 0;
   padding: 0;
   float: right;
   list-style: none;
   height: 24px; /*--Set height of tabs--*/
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   -webkit-box-shadow: 0 1px 0 #fff;
   -moz-box-shadow: 0 1px 0 #fff;
   box-shadow: 0 1px 0 #fff;
   border: 1px solid #ccc;
   font-weight: bold;
   text-shadow: 0 1px 0 #fff;
   li {
      float: left;
      margin: 0;
      padding: 0;
      line-height: 24px;
      a {
         text-decoration: none;
         color: #999;
         display: block;
         padding: 0 10px;
         height: 24px;
         &:hover {
           color: #44474F;
         }
      }
      .active a  {
         color: #44474F;
      }
   }
}


html ul.tabs li.active, html ul.tabs li.active a:hover  {
   background: #F1F2F4;
   -webkit-box-shadow: inset 0 2px 3px #818181;
   -moz-box-shadow: inset 0 2px 3px #818181;
   box-shadow: inset 0 2px 3px #818181;
}

html ul.tabs li:first-child, html ul.tabs li:first-child a  {
   -webkit-border-top-left-radius: 5px; -webkit-border-bottom-left-radius: 5px;
   -moz-border-radius-topleft: 5px; -moz-border-radius-bottomleft: 5px;
   border-top-left-radius: 5px; border-bottom-left-radius: 5px;
}

html ul.tabs li:last-child, html ul.tabs li:last-child a  {
   -webkit-border-top-right-radius: 5px; -webkit-border-bottom-right-radius: 5px;
   -moz-border-radius-topright: 5px; -moz-border-radius-bottomright: 5px;
   border-top-right-radius: 5px; border-bottom-right-radius: 5px;
}

#main .module header h3.tabs_involved {
   display: block;
   width: 100%;
   float: left;
}


.message {
   border-bottom: 1px dotted #cccccc;
}

input[type=button] {
   background: #D0D1D4 data-uri('../images/btn_submit.png') repeat-x;
   border: 1px solid #A8A9A8;
   -webkit-box-shadow: 0 1px 0 #fff;
   -moz-box-shadow: 0 1px 0 #fff;
   box-shadow: 0 1px 0 #fff;
   font-weight: bold;
   height: 22px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   padding: 0 10px;
   color: #666;
   cursor: pointer;
   margin-right: 5px;
   &:hover {
      color: #333333;
   }
   .alt_btn {
      background: #D0D1D4 data-uri('../images/btn_submit_2.png') repeat-x;
      border: 1px solid #125135;
      -webkit-box-shadow: 0 1px 0 #fff;
      -moz-box-shadow: 0 1px 0 #fff;
      box-shadow: 0 1px 0 #fff;
      height: 22px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      padding: 0 10px;
      color: white;
      cursor: pointer;
      margin-right: 5px;
      &:hover {
         color: #001217;
      }
   }
}


fieldset {
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   background: #F6F6F6;
   border: 1px solid #ccc;
   padding: 1% 0%;
   margin: 5px 0;
   label {
      display: block;
      float: left;
      width: 200px;
      height: 25px;
      line-height: 25px;
      text-shadow: 0 1px 0 #fff;
      font-weight: bold;
      padding-left: 10px;
      margin: -5px 0 5px 0;
      text-transform: uppercase;
   }
   input[type=text] {
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      border: 1px solid #BBBBBB;
      height: 20px;
      color: #666666;
      -webkit-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
      -moz-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
      box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
      padding-left: 10px;
      background-position: 10px 6px;
      margin: 0;
      display: block;
      float: left;
      width: 96%;
      margin: 0 10px;
      &:focus {
         outline: none;
         border: 1px solid #77BACE;
         -webkit-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
         -moz-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
         box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
      }
   }
   select {
      width: 96%;
      margin: 0 10px;
      border: 1px solid #bbb;
      height: 20px;
      color: #666666;
   }
   textarea {
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      border: 1px solid #BBBBBB;
      color: #666666;
      -webkit-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
      -moz-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
      box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
      padding-left: 10px;
      background-position: 10px 6px;
      margin: 0 0.5%;
      display: block;
      float: left;
      width: 96%;
      margin: 0 10px;
      &:focus {
         outline: none;
         border: 1px solid #77BACE;
         -webkit-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
         -moz-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
         box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
      }
   }
}


.submit_link {
   float: right;
   margin-right: 3%;
   padding: 5px 0;
   select {
      width: 150px;
      border: 1px solid #bbb;
      height: 20px;
      color: #666666;
   }
}

#main .module_content h1 {
   color: #333333;
   text-transform: none;
   text-shadow: 0 1px 0 #fff;
   font-size: 22px;
   margin: 8px 0px;
}

#main .module_content h2 {
   color: #444444;
   text-transform: none;
   text-shadow: 0 1px 0 #fff;
   font-size: 18px;
   margin: 8px 0px;
}

#main .module_content h3 {
   color: #666666;
   text-transform: uppercase;
   text-shadow: 0 1px 0 #fff;
   font-size: 13px;
   margin: 8px 0px;
}

#main .module_content h4 {
   color: #666666;
   text-transform: none;
   text-shadow: 0 1px 0 #fff;
   font-size: 13px;
   margin: 8px 0px;
}

#main .module_content li {
   line-height: 150%;
}

#main h4.alert_info {
   display: block;
   width: 95%;
   margin: 20px 3% 0 3%;
   margin-top: 20px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   background: #B5E5EF data-uri('../images/icn_alert_info.png') no-repeat;
   background-position: 10px 10px;
   border: 1px solid #77BACE;
   color: #082B33;
   padding: 10px 0;
   text-indent: 40px;
   font-size: 14px;
}

#main h4.alert_warning {
   display: block;
   width: 95%;
   margin: 20px 3% 0 3%;
   margin-top: 20px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   background: #F5F3BA data-uri('../images/icn_alert_warning.png') no-repeat;
   background-position: 10px 10px;
   border: 1px solid #C7A20D;
   color: #796616;
   padding: 10px 0;
   text-indent: 40px;
   font-size: 14px;
}

#main h4.alert_error {
   display: block;
   width: 95%;
   margin: 20px 3% 0 3%;
   margin-top: 20px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   background: #F3D9D9 data-uri('../images/icn_alert_error.png') no-repeat;
   background-position: 10px 10px;
   border: 1px solid #D20009;
   color: #7B040F;
   padding: 10px 0;
   text-indent: 40px;
   font-size: 14px;
}

#main h4.alert_success {
   display: block;
   width: 95%;
   margin: 20px 3% 0 3%;
   margin-top: 20px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   background: #E2F6C5 data-uri('../images/icn_alert_success.png') no-repeat;
   background-position: 10px 10px;
   border: 1px solid #79C20D;
   color: #32510F;
   padding: 10px 0;
   text-indent: 40px;
   font-size: 14px;
}

#backgroundEspecial {
   background-color: black;
   opacity: .9;
   position: absolute;
   z-index: 999999;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   #loading {
      background: data-uri('../images/loading.gif') no-repeat center center;
      display: inline-block;
      width: 100%;
      height: 100%;
   }
   #PopUp {
      margin-top: 15%;
      margin-bottom: 20%;
      .btn {
         margin-left: 2%;
         float: right;
      }
   }
}

ul#menuNav {
   display: inline-block;
   width: 98%;
   margin: 8px 5px 5px 14px;
   padding: 0;
   color: @green-2;
   li {
      float: left;
      text-decoration: none;
      list-style: none;
      width: 49%;
      height: 100%;
      text-align: center;
      padding: 10px 0;
      text-transform: uppercase;
      font-weight: bolder;
      cursor: pointer;
      border: 1px solid @green-2;
      &:first-child {
         border-radius: 5px 0 0 5px;
      }
      &:last-child {
         border-radius: 0 5px 5px 0;
      }
   }
   .active {
      background-color: @green-2;
      color: white;
   }
}

.subtotales {
   width: 94%;
   padding: 1% 3%;
   display: inline-block;
   margin-bottom: 1%;
   margin-left: 3%;
   background-color: #E2E2E2;
   .tipo {
      float: left;
      width: 66%;
      font-size: 13px;
      color: @green-2;
      font-weight: bolder;
   }
   .resultado {
      float: left;
      display: inline-block;
      width: 30%;
      font-size: 14px;
      padding-left: 2%;
      color: @green;
      text-align: right;
      font-weight: bolder;
   }
}

.scroll {
   overflow: hidden;
   .scrollSize {
      height: 180px;
      overflow-x: scroll;
   }
}

.scroll_y {
   overflow-x: hidden;
   overflow-y: scroll;
}

.innerDiv {
   width: 99.8%;
   height: 81%;
   margin-top: 3px;
}

/* -------------------------------------------- */
/* ----------- Paginación---------------------- */
/* -------------------------------------------- */
#pag {
   margin-top: 10px;
   float: right;
   margin-bottom: 10px;
   width: 100%;
}
 
ul { 
   border: 0; 
   margin: 0;
   padding: 0;   
}
#pagination li { 
   border: 0; 
   margin: 0; 
   padding: 0; 
   font-size: 12px; 
   list-style: none; /* savers */ 
   float: left;
}
#pagination a           { 
   border: solid 1px #9aafe5;
   margin-right: 2px;
}
#pagination .previous-off, #pagination .next-off { 
   border: solid 1px #DEDEDE; 
   color: #888888; 
   display: block; 
   float: left; 
   font-weight: bold;
   margin-right: 2px; 
   padding: 3px 4px;
}
#pagination .next a, #pagination .previous a { 
   font-weight: bold; 
}
#pagination .active { 
   border: solid 1px #125135;
   color: #125135; 
   font-weight: bold;
   display: block;
   float: left;
   padding: 3px 6px; /* savers */
   margin-right: 2px; 
}
#pagination a:link, #pagination a:visited   { 
   color: #125135; 
   display: block;
   float: left;
   padding: 3px 6px;
   text-decoration: none; 
}
#pagination a:hover {
   border: solid 1px #125135; 
}

select#soflow, select#soflow-color {
   -webkit-appearance: button;
   -webkit-border-radius: 1px;
   -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
   -webkit-padding-end: 20px;
   -webkit-padding-start: 2px;
   -webkit-user-select: none;
   background-image: data-uri('../images/15xvbd5.png'), -webkit-linear-gradient(#125135, #125135 40%, #125135);
   background-position: 80% center;
   background-repeat: no-repeat;
   border: 1px solid #AAA;
   color: #555;
   font-size: inherit;
   margin: 0 5px;
   overflow: hidden;
   padding: 3px 3px;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 60px;
   float: left;
}

select#soflow-color {
   color: #fff;
   background-image: data-uri('../images/15xvbd5.png'), -webkit-linear-gradient(#125135, #125135 40%, #125135);
   background-color: #125135;
   padding-left: 7px;
}

.activoMenu {
   text-decoration: underline;
   font-size: 13px;
   font-weight: bolder;
   &:after {
      content: '>>';
      margin-left: 5px;
   }
}

/************************************************************************************/
/*** ESTILOS ESPECIALES PARA LOS MODULOS DE ADMINISTRACION ***/
.componentShow {
   display: block;
   visibility: visible;
}

.componentHide {
   display: none;
   visibility: hidden;
}

.PopUpReact {
   background-color: black;
   opacity: .96;
   position: fixed;
   z-index: 99;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   .panel-header {
      height: 10%;
      width: 100%;
      padding-top: 1%;
      background-color: #C1C0C0;
      font-weight: bold;
   }
   .PopUp {
      margin-top: 15%;
      
      .btn {
         margin-left: 2%;
         float: right;
      }
   }
}

.PopUpReactAlert {
   background-color: black;
   opacity: .96;
   position: fixed;
   z-index: 999;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   .panel-header {
      height: 10%;
      width: 100%;
      padding-top: 1%;
      background-color: #C1C0C0;
      font-weight: bold;
   }
   .PopUp {
      margin-top: 15%;
      margin-bottom: 20%;
      .btn {
         margin-left: 2%;
         float: right;
      }
   }
}

.IconTrashStyle {
   color: #125135;
   padding-left: 25px;
   text-decoration: none;
   display: inline-block;
   height: 17px;
   line-height: 17px;
   text-shadow: 0 1px 0 #fff;
   margin: 2px 0;
   font-size: 11px;
   background: data-uri('../images/icn_trash.png') no-repeat center left;
}

.IconEditStyle {
   color: #125135;
   padding-left: 25px;
   text-decoration: none;
   display: inline-block;
   height: 17px;
   line-height: 17px;
   text-shadow: 0 1px 0 #fff;
   margin: 2px 0;
   font-size: 11px;
   background: data-uri('../images/icn_edit.png') no-repeat center left;
}

.IconOKStyle {
   color: #125135;
   padding-left: 25px;
   text-decoration: none;
   display: inline-block;
   height: 17px;
   line-height: 17px;
   text-shadow: 0 1px 0 #fff;
   margin: 2px 0;
   font-size: 11px;
   background: data-uri('../images/icn_alert_success.png') no-repeat center left;  
}

.IconCancelStyle {
   color: #125135;
   padding-left: 25px;
   text-decoration: none;
   display: inline-block;
   height: 17px;
   line-height: 17px;
   text-shadow: 0 1px 0 #fff;
   margin: 2px 0;
   font-size: 11px;
   background: data-uri('../images/icn_alert_error.png') no-repeat center left;  
}

.IconNewStyle {
   color: #125135;
   padding-left: 25px;
   text-decoration: none;
   display: inline-block;
   height: 17px;
   line-height: 17px;
   text-shadow: 0 1px 0 #fff;
   margin: 2px 0;
   font-size: 11px;
   background: data-uri('../images/icn_new.png') no-repeat center left;  
}

.IconCalStyle {
   color: #125135;
   padding-left: 25px;
   text-decoration: none;
   display: inline-block;
   height: 17px;
   line-height: 17px;
   text-shadow: 0 1px 0 #fff;
   margin: 2px 0;
   font-size: 11px;
   background: data-uri('../images/icn_cal.png') no-repeat center left;  
}

.IconExcelStyle {
   color: #125135;
   padding-left: 25px;
   text-decoration: none;
   display: inline-block;
   height: 17px;
   line-height: 17px;
   text-shadow: 0 1px 0 #fff;
   margin: 2px 0;
   font-size: 11px;
   background: data-uri('../images/icn_excel.png') no-repeat center left;    
}
