.AlignContainer {
    width:100%;
}

.AlignLeft {
    float:left;
    width:100%;
}

.AlignCenter {
    display: inline-block;
    margin:0 auto;
    width:100%;
}

.AlignRight {
    float:right;
    width:100%;
}